By Janet Anagli

import pandas library

In [1]:
import pandas as pd

In [2]:
netflix_data = pd.read_csv('NetflixViewingHistory.csv')
netflix_data

                                                  Title      Date
0            Russian Doll: Season 2: Station to Station    5/4/22
1                   Russian Doll: Season 2: Brain Drain    5/3/22
2             Russian Doll: Season 2: Coney Island Baby   4/26/22
3                        Russian Doll: Season 2: Nowhen   4/26/22
4     Eternally Confused and Eager for Love: Season ...   4/10/22
...                                                 ...       ...
1967                    The OA: Part I: Chapter 4: Away  12/22/16
1968                The OA: Part I: Chapter 3: Champion  12/22/16
1969            The OA: Part I: Chapter 2: New Colossus  12/22/16
1970              The OA: Part I: Chapter 1: Homecoming  12/22/16
1971                                 The Imitation Game  12/21/16

[1972 rows x 2 columns]

In [3]:
#explore data, last 20 entries
netflix_data.tail(20)

                                                  Title      Date
1952                                              Frida  12/27/16
1953                                 2 Days in New York  12/26/16
1954           The Time In Between: Season 1: Episode 1  12/25/16
1955  Trollhunters: Tales of Arcadia: Part 1: Gnome ...  12/25/16
1956  Trollhunters: Tales of Arcadia: Part 1: Wheref...  12/25/16
1957  Trollhunters: Tales of Arcadia: Part 1: Becomi...  12/25/16
1958  Trollhunters: Tales of Arcadia: Part 1: Becomi...  12/25/16
1959                         Travelers: Season 1: Pilot  12/25/16
1960                   Californication: Season 1: Pilot  12/25/16
1961                           Salem: Season 1: The Vow  12/25/16
1962                      Jessie: Season 2: The Whining  12/24/16
1963       Jessie: Season 1: Cattle Calls & Scary Walls  12/24/16
1964                Jessie: Season 1: The Kid Whisperer  12/24/16
1965           Jessie: Season 1: World Wide Web of Lies  12/24/16
1966  Gilmore Girls: A Year in the Life: Limited Ser...  12/23/16
1967                    The OA: Part I: Chapter 4: Away  12/22/16
1968                The OA: Part I: Chapter 3: Champion  12/22/16
1969            The OA: Part I: Chapter 2: New Colossus  12/22/16
1970              The OA: Part I: Chapter 1: Homecoming  12/22/16
1971                                 The Imitation Game  12/21/16

In [4]:
#explore data, first 20 entries
netflix_data.head(20)

                                                Title     Date
0          Russian Doll: Season 2: Station to Station   5/4/22
1                 Russian Doll: Season 2: Brain Drain   5/3/22
2           Russian Doll: Season 2: Coney Island Baby  4/26/22
3                      Russian Doll: Season 2: Nowhen  4/26/22
4   Eternally Confused and Eager for Love: Season ...  4/10/22
5   Eternally Confused and Eager for Love: Season ...   4/5/22
6   Eternally Confused and Eager for Love: Season ...   4/5/22
7   Eternally Confused and Eager for Love: Season ...   4/5/22
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22
9                       Bridgerton: Season 2: Harmony   4/3/22
10                   Bridgerton: Season 2: The Choice   4/2/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
15               Bridgerton: Season 2: Capital R Rake  3/26/22
16  Eternally Confused and Eager for Love: Season ...  3/24/22
17  Eternally Confused and Eager for Love: Season ...  3/24/22
18  Eternally Confused and Eager for Love: Season ...  3/24/22
19  Eternally Confused and Eager for Love: Season ...  3/24/22

a. How many entries AKA rows are in the data?

In [5]:
netflix_data.shape[0]

1972

b. How many columns are in the data?

In [6]:
netflix_data.shape[1]

2

c. What is the name of the first column in the data?

In [7]:
netflix_data.keys()[0]

'Title'

d. What is the name of the second column in the data?

In [8]:
netflix_data.keys()[1]

'Date'

e. How many times was an episode of the show Designated Survivor watched according to the data?

In [9]:
# define name of first show
show_1 = 'Designated Survivor'

In [10]:
# get title column
netflix_data['Title']

0              Russian Doll: Season 2: Station to Station
1                     Russian Doll: Season 2: Brain Drain
2               Russian Doll: Season 2: Coney Island Baby
3                          Russian Doll: Season 2: Nowhen
4       Eternally Confused and Eager for Love: Season ...
                              ...
1967                      The OA: Part I: Chapter 4: Away
1968                  The OA: Part I: Chapter 3: Champion
1969              The OA: Part I: Chapter 2: New Colossus
1970                The OA: Part I: Chapter 1: Homecoming
1971                                   The Imitation Game
Name: Title, Length: 1972, dtype: object

In [11]:
#use .apply() function to find number of times 'show_1' appeared in Title column and give me sum
netflix_data['Title'].apply(lambda title: show_1 in title).sum()

10

f. When was the starting date of watching the show Bridgerton according to the data?

In [12]:
#define name of second show
show_2 = 'Bridgerton'

In [13]:
# zoom in entries containing Bridgerton and sort by date in ascending order
netflix_data.loc[[show_2 in title for title in netflix_data['Title']], :].sort_values('Date', ascending=True)

                                                Title     Date
413          Bridgerton: Season 1: An Affair of Honor   1/8/21
414            Bridgerton: Season 1: Art of the Swoon   1/8/21
415           Bridgerton: Season 1: Shock and Delight   1/8/21
416  Bridgerton: Season 1: Diamond of the First Water   1/8/21
409              Bridgerton: Season 1: After the Rain   1/9/21
410                Bridgerton: Season 1: Oceans Apart   1/9/21
411                       Bridgerton: Season 1: Swish   1/9/21
412              Bridgerton: Season 1: The Duke and I   1/9/21
15               Bridgerton: Season 2: Capital R Rake  3/26/22
13         Bridgerton: Season 2: A Bee in Your Bonnet  3/30/22
14             Bridgerton: Season 2: Off to the Races  3/30/22
11          Bridgerton: Season 2: An Unthinkable Fate  3/31/22
12                      Bridgerton: Season 2: Victory  3/31/22
10                   Bridgerton: Season 2: The Choice   4/2/22
9                       Bridgerton: Season 2: Harmony   4/3/22
8     Bridgerton: Season 2: The Viscount Who Loved Me   4/4/22

In [14]:
# pick the start date of watching show_2
netflix_data.loc[[show_2 in title for title in netflix_data['Title']], :].sort_values('Date', ascending=True)['Date'].iloc[0]

'1/8/21'

g. What is the title of the first episode of the show Bridgerton watched according to the data?

In [15]:
#title of first episode of show_2 watched
netflix_data.loc[[show_2 in title for title in netflix_data['Title']], :].sort_values('Date', ascending=True)['Title'].iloc[0]

'Bridgerton: Season 1: An Affair of Honor'

h. When was the last date of watching the show Bridgerton according to the data?

In [16]:
# zoom in entries containing Bridgerton and sort by date in descending order
netflix_data.loc[[show_2 in title for title in netflix_data['Title']], :].sort_values('Date', ascending=False)['Date'].iloc[0]

'4/4/22'

i. What is the title of the last episode of the show Bridgerton watched according to the data?

In [17]:
#title of last episode of show_2 watched
netflix_data.loc[[show_2 in title for title in netflix_data['Title']], :].sort_values('Date', ascending=False)['Title'].iloc[0]

'Bridgerton: Season 2: The Viscount Who Loved Me'